<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <script type="text/javascript" src="Login.js"></script>
    <link rel="stylesheet" type="text/css" href="/Login.css">
</head>

<body>
    <form action="/value" method="post" class="box">
        <h1>Create Account</h1>
        <input type="text" name="first_name" placeholder="First name" id="first_name" required><br><br>
        <input type="text" name="last_name" placeholder="Last name" id="last_name" required><br><br>
        <input type="email" name="email" placeholder="Email" id="email" required><br><br>
        <input type="password" name="password" placeholder="Password" id="password" required><br><br> 
        <input type="submit" value="Sign Up"> 
    </form>    
</body>
</html>